<div class="pos-f-t">
   <div class="collapse" id="navbarToggleExternalContent">
     <div class="bg-dark p-4">
       <h5 class="text-white h4">UI/UX QUIZ</h5>
       <span class="text-white ">Angular | JavaScript| HTML | CSS</span>
       
     </div>
   </div>
   <nav class="navbar navbar-dark bg-dark">
     <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
       <span class="navbar-toggler-icon"></span>
     </button>
   </nav>
 </div>

<br/>

<div class="container">
<div *ngFor="let data of questions;let i = index" >  
   <h4>Question {{i+1}} .{{data.question}} </h4>

  <select #ans (change)="setdata(ans.value)" class="select" > 
  
   
    <option default="none" *ngFor="let options of data.answers;let i = index" >
   
    {{options.text}}  

   </option>
    </select> <br/> <br/>
   
   
 
<p style="color:blue"><strong>{{"Selected value:"+ ans.value}} </strong> </p> <br/>

<button (click)=correctans()  class="btn btn-dark"  style="border-radius:40px"  this.disabled = true;> Submit</button>  <br/> <br/>

<hr class=new style="border: 5px solid white;">



</div>

<br/>

<button  (click)="result()" class="btn btn-lg btn-danger">Submit</button>

</div>

 




 


  
  
  
  
  
  
  
  
  
  
  
  